[submodule "use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package
[submodule "with-editor"]
	path = packages/with-editor
	url = https://github.com/magit/with-editor
[submodule "magit"]
	path = packages/magit
	url = https://github.com/magit/magit
[submodule "dash"]
	path = packages/dash
	url = https://github.com/magnars/dash.el
[submodule "magit-popup"]
	path = packages/magit-popup
	url = https://github.com/magit/magit-popup
[submodule "ghub"]
	path = packages/ghub
	url = https://github.com/magit/ghub
[submodule "graphql"]
	path = packages/graphql
	url = https://github.com/vermiculus/graphql.el
[submodule "treepy"]
	path = packages/treepy
	url = https://github.com/volrath/treepy.el
