[submodule "utils/use-package"]
	path = packages/utils/use-package
	url = https://github.com/jwiegley/use-package
[submodule "utils/with-editor"]
	path = packages/utils/with-editor
	url = https://github.com/magit/with-editor
[submodule "dev/magit"]
	path = packages/dev/magit
	url = https://github.com/magit/magit
[submodule "utils/dash"]
	path = packages/utils/dash
	url = https://github.com/magnars/dash.el
[submodule "utils/s"]
	path = packages/utils/s
	url = https://github.com/magnars/s.el
[submodule "utils/f"]
	path = packages/utils/f
	url = https://github.com/rejeep/f.el
[submodule "utils/ace-jump"]
	path = packages/utils/ace-jump
	url = https://github.com/winterTTr/ace-jump-mode
