[submodule "utils/use-package"]
	path = packages/utils/use-package
	url = https://github.com/jwiegley/use-package
[submodule "utils/with-editor"]
	path = packages/utils/with-editor
	url = https://github.com/magit/with-editor
[submodule "dev/magit"]
	path = packages/dev/magit
	url = https://github.com/magit/magit
[submodule "utils/dash"]
	path = packages/utils/dash
	url = https://github.com/magnars/dash.el
[submodule "utils/s"]
	path = packages/utils/s
	url = https://github.com/magnars/s.el
[submodule "utils/f"]
	path = packages/utils/f
	url = https://github.com/rejeep/f.el
[submodule "utils/ace-jump"]
	path = packages/utils/ace-jump
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "visual/solarized"]
	path = packages/visual/solarized
	url = https://github.com/bbatsov/solarized-emacs
[submodule "utils/swiper"]
	path = packages/utils/swiper
	url = https://github.com/abo-abo/swiper
[submodule "utils/expand-region"]
	path = packages/utils/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "dev/yasnippet"]
	path = packages/dev/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "dev/company"]
	path = packages/dev/company
	url = https://github.com/company-mode/company-mode
[submodule "misc/google-translate"]
	path = packages/misc/google-translate
	url = https://github.com/atykhonov/google-translate
[submodule "org/org-mode"]
	path = packages/org/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "utils/mustache"]
	path = packages/utils/mustache
	url = https://github.com/Wilfred/mustache.el
[submodule "utils/ht"]
	path = packages/utils/ht
	url = https://github.com/Wilfred/ht.el
[submodule "misc/simple-httpd"]
	path = packages/misc/simple-httpd
	url = https://github.com/skeeto/emacs-web-server
[submodule "utils/git"]
	path = packages/utils/git
	url = https://github.com/rejeep/git.el
[submodule "org/org-page"]
	path = packages/org/org-page
	url = git@github.com:asavonic/org-page.git
[submodule "dev/lua-mode"]
	path = packages/dev/lua-mode
	url = https://github.com/immerrr/lua-mode
[submodule "misc/dashboard"]
	path = packages/misc/dashboard
	url = https://github.com/rakanalh/emacs-dashboard
[submodule "visual/page-break-lines"]
	path = packages/visual/page-break-lines
	url = https://github.com/purcell/page-break-lines
[submodule "org/org-bookmark-heading"]
	path = packages/org/org-bookmark-heading
	url = https://github.com/alphapapa/org-bookmark-heading
[submodule "org/hyperbole"]
	path = packages/org/hyperbole
	url = https://git.savannah.gnu.org/git/hyperbole.git
[submodule "utils/hl-anything"]
	path = packages/utils/hl-anything
	url = https://github.com/hl-anything/hl-anything-emacs
[submodule "misc/ledger"]
	path = packages/misc/ledger
	url = https://github.com/ledger/ledger-mode
[submodule "dev/realgud"]
	path = packages/dev/realgud
	url = https://github.com/realgud/realgud
[submodule "utils/load-relative"]
	path = packages/utils/load-relative
	url = https://github.com/rocky/emacs-load-relative
[submodule "utils/loc-changes"]
	path = packages/utils/loc-changes
	url = https://github.com/rocky/emacs-loc-changes
[submodule "utils/beginend"]
	path = packages/utils/beginend
	url = https://github.com/DamienCassou/beginend
[submodule "dev/lispy"]
	path = packages/dev/lispy
	url = https://github.com/abo-abo/lispy
[submodule "utils/avy"]
	path = packages/utils/avy
	url = https://github.com/abo-abo/avy
[submodule "utils/iedit"]
	path = packages/utils/iedit
	url = https://github.com/victorhge/iedit
[submodule "utils/ace-window"]
	path = packages/utils/ace-window
	url = https://github.com/abo-abo/ace-window
